<!DOCTYPE html>
<html>

<head>
  <title>Auto Responder</title>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
  <link rel="shortcut icon" type="image/png" href="/img/favicon.ico"/>
</head>
<body>
  <header class="main-header">
    <h1><img class="cisco" src="/img/cisco.png" /><span class="spark">Webex Teams</span><img class="spark-logo" src="/img/teams-logo.png" />Auto Responder<span></span></h1>
  </header>
  <div class="row">
    <div class="small-12 small-centered medium-10 large-8 columns">
      <section class="content-box">
        <h3><img class="chat-bubble" src="/img/auto-responder.png" /><span> Auto Responder</span></h3>
        <div class="row column">
          <p>Please login using your Cisco Webex Teams account to continue</p>
        </div>
          <div class="row column"><a href=<%= link %> class="large button">Login</a></div>
      </section>
    </div>
  </div>
</body>

</html>